
.SkaterLeadersWrapper {
    margin-bottom: 4em;
}

.playerCard__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.playerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    border: 2px solid white;
    border-radius: .8em;
    margin: 0em auto;
    padding: 0;
}

.playerCard__img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid white;
    margin-bottom: 1.5em;
}

.playerCard__player {
    font-size: 1em;
    color: white;
    padding: 0;
    margin: 0;
}

.playerCard__value {
    font-size: 1em;
    font-weight: 700;
    color: white;
}


@media (min-width: 500px) {
    .playerCard__player {
        font-size: 1.2em;
    }

    .playerCard__value {
        font-size: 1.3em;
    }

    .playerCard {
        width: 50vw;
    }
}
  
@media (min-width: 700px) {
    .playerCard__box {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .playerCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        gap: 0;
        width: 60vw;
    }

    .playerCard__img {
        width: 160px;
        height: auto;
        border-right: 2px solid grey;
        border-bottom: none;
        margin-bottom: 0;
    }

    .playerCard__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
        margin-right: 1em;
    }

    .playerCard__info p {
        margin: 0;
        padding: 0;
    }
}

  
@media (min-width: 900px) {
    .playerCard__box {
        gap: 1em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .playerCard {
        width: 70vw;
    }

    .playerCard__img {
        width: 220px;
        height: auto;
    }
}

  
@media (min-width: 1200px) {
    .playerCard__box {
        gap: 1.2em;
        margin: 0 auto;
    }
    .playerCard__img {
        width: 260px;
        height: auto;
    }
}

@media (min-width: 1400px) {
    .playerCard__box {
        gap: 1.2em;
        margin: 0 auto;
    }

    .playerCard__img {
        width: 320px;
        height: auto;
    }
}