#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  font-family: 'NHL', 'Montserrat', sans-serif;
  background-image: url('../src/assets/images/MainBG_1080.png');
  color: #333;
  font-size: 16px;
  line-height: 1.6;

}

