.homePage {
    background-image: url('path-to-your-background-image.jpg');
    background-size: cover;
    height: 100vh;
    color: black;
    text-align: center;
  }
  
  .homeHeader {
    font-size: 3em;
    margin-top: 50px;
  }
  
  .dashboardLinks {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .dashboardLink {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    margin: 0 20px;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashboardLink span {
    display: block;
    text-transform: uppercase;
  }
  
  .dashboardLink.build-own:hover, .dashboard-link.nhl-dashboard:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  