.gameList__game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em auto;
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 80%;
    border: 2px solid white;
    border-radius: .8em;
    max-width: 80vw;
}

.daysOfWeek {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3em;
}
  
  .gameList__game-teams {
    display: flex;
    align-items: center;
  }
  
  .team__logoRight {
    height: 60px;
    width: auto;
    margin-right: 0;
  }

  .team__logoLeft {
    height: 60px;
    width: auto;
    margin-left: 0;
  }
  
  .gameList__gameInfo {
    text-align: center;
    font-size: .5em;
    width: 40vw;
  }
  
  .gameList__gameInfo-time {
    display: block;
    margin: 0;
  }

  .gameInfo-vsBlock {
    line-height: .3;
    text-align: center;
  }
  
  .gameInfo-vs {
    font-size: 6em;
    font-weight: 600;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
  
  .gameList__gameInfo-venue {
    display: block;
    color: white;
    margin: 0;
  }

  .dayButton {
    padding: .5em 1em;
    background-color: transparent;
    font-size: .8em;
    margin: .4em .5em;
    color: white;
    border: 1px solid white;
    border-radius: 2em;
  }

  .dayButton:hover {
    background-color: white;
    color: black;
  }

  .activeButton {
    background-color: white;
    color: black;
  }

  .activeButton:hover {
    background-color: transparent;
    color: white;
  }

  .noGames {
    margin-top: 4em;
    text-align: center;
    font-size: 1em;
    color: white;
  }


@media (min-width: 900px) {
  .daysOfWeek {
    display: flex;
    justify-content: center;
  }

  .dayButton {
    padding: .8em 1.6em;
    font-size: 1em;
    margin: .4em .5em;
    border: 2px solid white;
  }

  .team__logoRight {
      height: 80px;
      width: auto;
      margin-right: 0;
  }
  
  .team__logoLeft {
      height: 80px;
      width: auto;
      margin-left: 0;
  }
}

@media (min-width: 1300px) {
    .team__logoRight {
        height: 120px;
        width: auto;
        margin-right: 0;
    }
    
    .team__logoLeft {
        height: 120px;
        width: auto;
        margin-left: 0;
    }

    .gameList__game {
        max-width: 50vw;
      }
}
  